body{
    background-color: darkgrey;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: darkslategray;
  height: 200px;
}

.container div {
  background-color: gray;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;     
}
