body{
    background-color: darkgrey;
}

.container div {
  background-color: gray;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}

#tabs div {
  display: flex;            
  justify-content: center; 
  align-items: center;      
  height: 200px;            
  background-color: darkslategray;
  color: white;
  font-size: 24px;
}
